
footer{
    border-top: 3px solid #bd8b00;
    border-bottom: 3px solid #bd8b00;
    background-color: #072C50;
    padding-top: 10vh ;
  

}

.contact-selection{
   background-color: #ffffff;
    padding: 20px 0;
}
.contact-selection h1{
    grid-column: 1/5 ;
    text-align: center;
    margin-bottom: 7vh;
  
    
}
.contact-content{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr ;
    grid-gap: 10px;
    margin: auto;
   
    padding: 20px;
    justify-content: center;
    border-bottom: 2px solid #072C50;
    
   
}
.contact{
 
  text-align: center; 

}
.contact p{
    text-transform: uppercase;
}
.contact a{
    color: #212529;
}
.contact a:hover{
    color: #004385;
}

/*AJUSTES CONTACT*/
@media (min-width: 1200px) {
    .contact-content{    
        width: 70%;
        margin: auto;
    }
}

@media (max-width: 854px) {
    .contact-content{    
        display: block;
        width: 70%;
        margin: auto;
    }
    .contact{
        margin-bottom: 20px;
        border: 1px solid #8b959f;
        padding: 10px;
    }
   
}


/*SEND MENSAGE*/
.send-email{
    
    box-shadow: 5px 5px 10px #0000009e;
    width: 600px;
    margin: 10px auto 0px;
}
.send-email h2{
    margin: 5vh 0 5vh;
    padding-top: 5vh ;
    text-align: center;
}
.form{
    width: 600px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    
}
.field{
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    outline: none;
}
textarea{
    height: 150px;
 
}
.enviar{
    padding: 5px;
    
}
.form #btn{
    margin: 0;
}
@media (max-width: 800px) {
    .send-email{
        width: 70%;
    }
    .form{
        width: 100%;
    }
}